rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Usuario/{document=**} {
      allow read, write: if true; // Cambiar para producción
    }
    match /Tutor/{document=**} {
      allow read, write: if true; // Cambiar para producción
    }
    match /ingenieria_informatica/{document=**}{
      allow read, write: if true; // Cambiar para producción
    }
    match /ingenieria_informatica/grado2024-2025/{document=**}{
      allow read, write: if true; // Cambiar para producción
    }
    match /ingenieria_informatica/grado2024-2025/convocatorias/{document=**}  {
      allow read, write: if true; // Cambiar para producción
    }
    match /ingenieria_informatica/grado2024-2025/convocatorias/convocatoria_junio/{document=**}  {
      allow read, write: if true; // Cambiar para producción
    }
    match /ingenieria_informatica/grado2024-2025/convocatorias/convocatoria_junio/tribunales/{document=**}  {
      allow read, write: if true; // Cambiar para producción
    }
  
    match /Linea/{document=**}{
      allow read, write: if true; // Cambiar para producción
    }
    match /ingenieria_informatica/grado2024-2025/linea/{document=**} {
      allow read,write: if true; // Permitir lectura a todos (solo para pruebas)
    }
    match /Solicitud/{document=**} {
      allow read,write: if true; // Permitir lectura a todos (solo para pruebas)
    }
    match /Tribunal/{document=**} {
      allow read: if true; // Cambiar para producción
    }
  }
}