ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
/* filepath: /home/adrian/TFG/src/app/folder/folder.page.scss */
/* filepath: /home/adrian/TFG/src/app/folder/folder.page.scss */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  max-width: 150px; /* Limita el ancho máximo de cada celda */
  overflow-wrap: break-word; /* Permite que el texto se ajuste dentro de la celda */
  word-wrap: break-word; /* Compatibilidad adicional */
  white-space: normal; /* Permite que el texto se ajuste en varias líneas */
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}