<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestión de Tribunales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click)="toggleFormulario()">
    {{ mostrarFormulario ? 'Ocultar Formulario' : 'Crear Nuevo Tribunal' }}
  </ion-button>

  <ion-card *ngIf="mostrarFormulario">
    <ion-card-header>
      <ion-card-title>Crear Nuevo Tribunal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="crearTribunal()">
        <ion-item>
          <ion-label position="floating">Fecha</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="nuevoTribunal.fecha" name="fecha"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Lugar</ion-label>
          <ion-input [(ngModel)]="nuevoTribunal.lugar" name="lugar"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Presidente/a</ion-label>
          <ion-select [(ngModel)]="nuevoTribunal.profesor1" name="presidente">
            <ion-select-option *ngFor="let profesor of profesores" [value]="profesor.id">{{profesor.correo}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Secretario/a</ion-label>
          <ion-select [(ngModel)]="nuevoTribunal.profesor2" name="secretario">
            <ion-select-option *ngFor="let profesor of profesores" [value]="profesor.id">{{profesor.correo}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Vocal</ion-label>
          <ion-select [(ngModel)]="nuevoTribunal.profesor3" name="vocal">
            <ion-select-option *ngFor="let profesor of profesores" [value]="profesor.id">{{profesor.correo}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Profesor Suplente</ion-label>
          <ion-select [(ngModel)]="nuevoTribunal.suplente" name="suplente">
            <ion-select-option *ngFor="let profesor of profesores" [value]="profesor.id">{{profesor.correo}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Alumnos</ion-label>
          <ion-select [(ngModel)]="nuevoTribunal.alumnos" name="alumnos" multiple="true">
            <ion-select-option *ngFor="let alumno of alumnos" [value]="alumno.id">{{alumno.correo}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" type="submit">Crear Tribunal</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tribunales Existentes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let tribunal of tribunales">
  <ion-label>
    <p>Presidente/a: {{ tribunal.presidente }}</p>
    <p>Secretario/a: {{ tribunal.secretario }}</p>
    <p>Vocal: {{ tribunal.vocal }}</p>
    <p>Suplente: {{ tribunal.suplente }}</p>
  </ion-label>
  <ion-button (click)="verDefensas(tribunal.id)">
    {{ tribunalSeleccionadoId === tribunal.id ? 'Ocultar Defensas' : 'Ver Defensas' }}
  </ion-button>
  <ion-button color="danger" (click)="borrarTribunal(tribunal.id)">Borrar</ion-button>
</ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="tribunalSeleccionadoId">
  <ion-card-header>
    <ion-card-title>Defensas del Tribunal</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let defensa of defensas">
        <ion-label>
          <p>Alumno: {{ defensa.alumno }}</p>
          <p>Fecha: {{ defensa.fecha | date:'dd/MM/yyyy HH:mm' }}</p>
          <p>Lugar: {{ defensa.lugar }}</p>
        </ion-label>
        <ion-button color="danger" (click)="eliminarDefensa(defensa.id)">Eliminar</ion-button>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="toggleFormularioDefensa()">
      {{ mostrarFormularioDefensa ? 'Ocultar formulario' : 'Añadir Defensa' }}
    </ion-button>
    <form *ngIf="mostrarFormularioDefensa" (ngSubmit)="anadirDefensa()">
      <ion-item>
        <ion-label>Fecha y hora</ion-label>
        <ion-datetime [(ngModel)]="nuevaFecha" name="nuevaFecha" required></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Lugar</ion-label>
        <ion-input [(ngModel)]="nuevoLugar" name="nuevoLugar" required></ion-input>
      </ion-item>
      <ion-item>
  <ion-label>Alumno</ion-label>
  <ion-select [(ngModel)]="nuevoAlumnoId" name="nuevoAlumnoId" required>
    <ion-select-option *ngFor="let alumno of alumnos" [value]="alumno.id">{{alumno.correo}}</ion-select-option>
  </ion-select>
</ion-item>
      <ion-button expand="block" type="submit">Añadir Defensa</ion-button>
    </form>
  </ion-card-content>
</ion-card>
</ion-content>