<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Menú</ion-list-header>
        <ion-item>
      <ion-label>Carrera</ion-label>
      <ion-select [(ngModel)]="selectedCarrera" (ionChange)="onCarreraChange($event)">
        <ion-select-option *ngFor="let carrera of carrerasDisponibles" [value]="carrera.value">{{ carrera.label }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Convocatoria</ion-label>
      <ion-select [(ngModel)]="selectedConvocatoria" (ionChange)="onConvocatoriaChange($event)">
        <ion-select-option *ngFor="let convocatoria of convocatoriasDisponibles" [value]="convocatoria.value">{{ convocatoria.label }}</ion-select-option>
      </ion-select>
    </ion-item>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <!-- Añadir el botón de cerrar sesión -->
        <ion-menu-toggle auto-hide="false">
          <ion-item button (click)="logout()" lines="none">
            <ion-icon aria-hidden="true" slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>