<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages">
        <ion-item [routerLink]="page.url" routerDirection="root">
          <ion-icon [name]="page.icon" slot="start"></ion-icon>
          <ion-label>{{ page.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-list>
    <ion-list-header>
      <ion-label>Solicitudes de TFG</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let solicitud of solicitudes">
      <ion-label>
        <h2>{{ solicitud.linea }}</h2>
        <p><strong>Tutor:</strong> {{ solicitud.tutor }}</p>
        <p><strong>Fecha:</strong> {{ solicitud.fecha | date }}</p>
        <p><strong>Principal:</strong> {{ solicitud.principal ? 'Sí' : 'No' }}</p>
        <p><strong>Estado:</strong> {{ solicitud.estado }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>