<div class="modal-header">
  <h2>{{ isEdit ? 'Editar Línea' : 'Crear Nueva Línea' }}</h2>
  <button type="button" class="custom-btn danger" (click)="dismiss()">Cerrar</button>
</div>

<div class="modal-content">
  <form (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input id="titulo" [(ngModel)]="linea.titulo" name="titulo" required />
    </div>

    <div class="form-group">
      <label for="ambito">Ámbito</label>
      <input id="ambito" [(ngModel)]="linea.ambito" name="ambito" required />
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea id="descripcion" [(ngModel)]="linea.descripcion" name="descripcion" required></textarea>
    </div>

    <div class="form-group">
      <label for="plazasLibres">Plazas Libres</label>
      <input id="plazasLibres" type="number" [(ngModel)]="linea.plazasLibres" name="plazasLibres" required />
    </div>

    <button class="custom-btn success" type="submit">
      {{ isEdit ? 'Guardar Cambios' : 'Crear Línea' }}
    </button>
  </form>
</div>