/* filepath: c:\Users\Usuario\Documents\TFG\src\app\pages\solicitudes-tutor\solicitudes-tutor.page.scss */
ion-list-header {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

ion-item {
  margin-bottom: 10px;
}