<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>
    <ion-title>Tutor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Mis Líneas de TFG</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let linea of lineasTFG">
  <ion-label>
    <h2>{{ linea.titulo }}</h2>
    <p><strong>Ámbito:</strong> {{ linea.ambito }}</p>
    <p><strong>Descripción:</strong> {{ linea.descripcion }}</p>
    <p><strong>Plazas libres:</strong> {{ linea.plazasLibres }}</p>
  </ion-label>
  <button class="custom-btn primary" (click)="editarLinea(linea)">Editar</button>
</ion-item>
  </ion-list>

  <button class="custom-btn success" style="width: 100%; margin-top: 16px;" (click)="crearLinea()">
  Crear Nueva Línea
</button>
</ion-content>